.wtrl-header {
	position: relative;
}

.wtrl-logo-absolute {
	position: absolute;
	top: 0px;
	right: 10px;
	height: auto;
}

.wtrl-header > svg:nth-of-type(2) {
	display:none;
}


html[data-wtrl-theme="light"] .wtrl-code {
/* Override gruvbox-yellow */
	background:#efe!important;
}
html[data-wtrl-theme="dark"] .wtrl-code {
/* Override gruvbox-whatever-it-is */
	background:#242d30!important;
}


html[data-wtrl-theme="dark"] .wtrl-header > svg:nth-of-type(1) {
	display:none;
}

html[data-wtrl-theme="dark"] .wtrl-header > svg:nth-of-type(2) {
	display:block;
}

@media (prefers-color-scheme: dark) {
	html[data-wtrl-theme="auto"] .wtrl-header > svg:nth-of-type(1) {
		display:none;
	}

	html[data-wtrl-theme="auto"] .wtrl-header > svg:nth-of-type(2) {
		display:block;
	}
}
